#main-article {
  padding-left: 0px;
  padding-right: 0px;
}

#main-article-photo {
  height: 600px;
}

.bd-placeholder-img {
  height: 380px;
  width: 100%;
}

.card-img-container {
  padding: 20px 20px 20px 20px;
}

.card {
  border: none;
}

#no-hover-shadow:hover {
  box-shadow: none;
}

.post {
  padding: 0px;
}

.post .title {
  padding-left: 20px;
}

.post .card-body {
  padding-top: 0px;
}

.post .card-text {
  margin-top: 20px;
}

.badges img {
  margin-right: 10px;
}

.button-link {
  color: white;
}
.button-link:hover {
  color: white;
}
