#main-article {
  padding-left: 0px;
  padding-right: 0px;
}

#main-article-photo {
  height: 600px;
}

.bd-placeholder-img {
  height: 380px;
  width: 100%;
}

.card-img-container {
  padding: 20px 20px 20px 20px;
}

.card {
  border: none;
  transition: box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover {
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
