.album-header {
  padding: 10px 10px 0px 5px;
}

.album-header-body {
  border-top: 4px solid #4285f4;
  padding: 30px 0px 20px 0px;
}

.album-header-title {
  margin: 0px;
  padding: 0px;
}

.album-header-more {
  margin: 0px;
  padding: 0px;
}

.album-header-more:hover {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}
